body {
  position: fixed;
  width: 100%;
  margin: 0;
  font-family: monospace;
  font-weight: bold;
  background: #2a2a2a;
  color: #383838;
  font-family: 'iosevka ss05', Menlo, 'Andale Mono', monospace;
}
.tetris {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 48px 1em 1em;
  box-sizing: border-box;
}
.row {
  flex: 1;
  display: flex;
  justify-content: center;
  border: 0.5px solid #383838;
}
.left {
  display: none;
}
@media (min-width: 768px) {
  .left {
    display: block;
    flex: 1;
  }
}
.center {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.board {
  position: relative;
  align-self: center;
  display: grid;
  width: 100%;
  max-width: 38vh;
  margin: 0 auto;
  border: 1.5px solid #383838;
}
.square {
  border-bottom: 0.5px solid #383838;
  border-left: 0.5px solid #383838;
  position: relative;
  padding-bottom: 100%;
}
.square.left-edge {
  border-left: 0.5px solid #383838;
}
.square.top-edge {
  border-top: 0.5px solid #383838;
}
.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-left: 0.5px solid #383838;
}
.board-mini-container {
  height: 10vh;
  display: flex;
  justify-content: center;
}
.board-mini {
  position: relative;
  align-self: center;
  display: grid;
  border: 2px solid #383838;
}
.board-mini > div {
  width: 15px;
  height: 15px;
  border: 0.5px solid #383838;
}
@media (min-width: 768px) {
  .board-mini > div {
    width: 19px;
    height: 19px;
  }
}
@media (min-width: 1200px) {
  .board-mini > div {
    width: 24px;
    height: 24px;
  }
}
.rows-completed {
  padding: 9vh 0 15vh;
  font-size: 46px;
}
.speed {
  font-size: 18px;
}
