/*

organization:

- variables
- html, general
- board
- meta
- hit areas for mobile
- fade

*/
:root {
  --black-1: #2a2a2a;
  --black-2: #383838;

  --speed-fast: 0.2s;
  --speed-medium: 0.4s;
  --speed-slow: 2.6s;
  --transition-fast: all var(--speed-medium) ease-in-out;
  --transition-medium: all var(--speed-medium) ease-in-out;
  --transition-slow: all var(--speed-slow) ease-in-out;
}
body {
  position: fixed;
  width: 100%;
  margin: 0;
  font-family: "iosevka ss05", Menlo, "Andale Mono", monospace;
  color: var(--black-2);
  font-weight: bold;
  touch-action: manipulation;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
.main {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1em;
  box-sizing: border-box;
  background: var(--black-1);
}
.gameplay-container {
  flex: 1;
  display: flex;
  justify-content: center;
}
@media (min-width: 400px) {
  .gameplay-container {
    border: 0.5px solid var(--black-2);
  }
}
@media (min-width: 768px) {
  .gameplay-container {
    border: 0.5px solid var(--black-2);
  }
}

/* board */

.board-container {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2em;
  transition: var(--transition-medium);
  opacity: 1;
}
.board-container.is-paused {
  opacity: 0.65;
}
.board-container.is-paused.game-over {
  opacity: 1;
}
@media (min-width: 400px) {
  padding-bottom: 0;
}
.board {
  position: relative;
  align-self: center;
  display: grid;
  width: 100%;
  max-width: 38vh;
  margin: 0 auto;
  border: 1.5px solid var(--black-2);
}
.square {
  border-bottom: 0.5px solid var(--black-2);
  border-left: 0.5px solid var(--black-2);
  position: relative;
  padding-bottom: 100%;
}
.square.left-edge {
  border-left: 0.5px solid var(--black-2);
}
.square.top-edge {
  border-top: 0.5px solid var(--black-2);
}

/*
meta
- upcoming-piece
- rows-completed
- level
*/

.meta-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
@media (min-width: 400px) {
  .meta-container {
    border-left: 0.5px solid var(--black-2);
  }
}
.upcoming-piece-container {
  height: 10vh;
  display: flex;
  justify-content: center;
  opacity: 1;
}
.upcoming-piece-container.is-paused {
  opacity: 0.65;
}
.upcoming-piece {
  position: relative;
  align-self: center;
  display: grid;
  border: 1px solid var(--black-2);
}
.upcoming-piece > div {
  width: 15px;
  height: 15px;
  border: 0.5px solid var(--black-2);
}
@media (min-width: 768px) {
  .upcoming-piece > div {
    width: 19px;
    height: 19px;
  }
}
@media (min-width: 1200px) {
  .upcoming-piece > div {
    width: 24px;
    height: 24px;
  }
}
.rows-completed-container {
  padding: 9vh 0 15vh;
}
.rows-completed {
  padding: 0.2em 0.3em 0.1em;
  font-size: 46px;
  color: white;
  cursor: default;
}
.level-container {
  position: relative;
  opacity: 1;
}
.level-container.is-paused {
  position: relative;
  opacity: 0.65 !important;
}
.level {
  font-size: 24px;
  color: white;
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(-50%);
}

/* hit areas for mobile */

/* TODO make these more visible, and/or add settings for it */
.hit-area-container {
  position: absolute;
  flex-direction: column;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  z-index: 1;
  display: flex;
  -webkit-tap-highlight-color: transparent;
}
@media (min-width: 768px) {
  display: none;
}
.hit-area-row {
  display: flex;
  flex: 1;
  -webkit-tap-highlight-color: transparent;
}
.hit-area-up,
.hit-area-left,
.hit-area-right,
.hit-area-down {
  -webkit-tap-highlight-color: transparent;
  flex: 1;
}
.hit-area-up:active,
.hit-area-left:active,
.hit-area-right:active,
.hit-area-down:active {
  background: rgba(255, 255, 255, 0.03);
}

/* fade */

.fade-in-1 {
  transition: var(--transition-medium);
  opacity: 0;
}
.fade-in-2 {
  transition: var(--transition-slow);
  opacity: 0;
}
.has-initially-loaded,
.has-initially-loaded .fade-in-1,
.has-initially-loaded .fade-in-2 {
  opacity: 1;
}
